@model TN_Treasury_Web_Portal.Models.Guide

@{
    ViewData["Title"] = "Details";
}



<div>
    <h1>@Html.DisplayFor(model => model.Title)</h1>
    <hr />
    <p>@Html.DisplayFor(model => model.Description)</p>

            
</div>

<div>
   
    <a asp-action="Index">Go Back</a>
</div>
