@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Retire Web Portal</h1>
    <a asp-area="" asp-controller="FAQs" asp-action="Index">FAQ</a> <br>
    <a asp-area="" asp-controller="Home" asp-action="Index">Documents</a>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
</div>
