html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
}

.bg-navbar {
    background-color: blue;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

